<% set_meta_tags title: 'トレードノートサービスの決定版！', description: '公開型トレードノートサービス「資金推移」「通貨ペア別勝率」「通貨ペア別PF」「取引結果」をグラフ化して記録しましょう！' %>

<div class="lp_top">
  <div class="lp_space"></div>
  <div class="lp_space"></div>
  <p class="lp_h1">トレードノートの決定版</p>
  <div class="lp_imgs">
    <%= image_tag "graph.png", class: "lp_graph_img" %>
    <%= image_tag "pf.png", class: "lp_graph_img" %>
    <%= image_tag "result.png", class: "lp_graph_img" %>
  </div>
</div>

<div class="space"></div>
<div class="content">
  <div class="lp_content">
    <div class="btns fadeleft">
      <%= link_to "新規登録", new_user_registration_path, class: "btn" %>
      <%= link_to "ログイン", new_user_session_path, class: "btn" %>
    </div>
  </div>
</div>

<div class="content">
  <div class="space"></div>

  <h1 class="lp_h1 faderight">取引の悩みをトレードノートで解決</h1>

  <div class="space"></div>
  <div class="lp_content">
    <h2 class="lp_h2 faderight">トレードの悩み</h2>
    <ul>
      <li class="fadeleft">上手なエントリーができていないのかも...</li>
      <li class="fadeleft">上手な利食いができていないのかも...</li>
      <li class="fadeleft">上手な損切りができていないのかも...</li>
      <li class="fadeleft">そもそも分析ができていないかも...</li>
      <li class="fadeleft">決めたルールが守れない...</li>
      <li class="fadeleft">ポジポジ病を発症している...</li>
    </ul>

    <div class="space"></div>
    <h2 class="lp_h2 faderight">手書きのトレードノートの悩み</h2>
    <ul>
      <li class="fadeleft">画像がないから見返してもよくわからない</li>
      <li class="fadeleft">グラフ化するのが難しい</li>
      <li class="fadeleft">ひとりだとモチベーションが続かない</li>
    </ul>

    <div class="space"></div>
    <div class="btns fadeleft">
      <%= link_to "新規登録", new_user_registration_path, class: "btn" %>
      <%= link_to "ログイン", new_user_session_path, class: "btn" %>
    </div>

    <div class="space"></div>
    <h2 class="lp_h2 faderight">悩みを解決するためのプラットフォーム</h2>
    <p class="highlight fadeleft">画像付きでわかりやすいトレードノート詳細ページ</p>
    <div class="space"></div>
    <%= image_tag "trade-note.png", class: "lp_img fadeleft" %>
    <div class="space"></div>
    <%= image_tag "trade-note2.png", class: "lp_img fadeleft" %>

    <div class="grid grid_for_lp_phone fadeleft">
      <% @records.each do |record| %>
        <%= render partial: "shared/index_record", locals: { record: record } %>
      <% end %>
    </div>
    <%= link_to "もっと見る", records_path, class: "link_word faderight" %>
    <div class="space"></div>
    <p class="highlight fadeleft">今後の取引の参考にするためのトレードノートのグラフ化</p>
    <div class="space"></div>
    <%= image_tag "graph.png", class: "lp_img fadeleft" %>
    <div class="space"></div>
    <%= image_tag "pf.png", class: "lp_img fadeleft" %>
    <div class="space"></div>
    <%= image_tag "result.png", class: "lp_img fadeleft" %>

    <div class="space"></div>

    <div class="btns fadeleft">
      <%= link_to "新規登録", new_user_registration_path, class: "btn" %>
      <%= link_to "ログイン", new_user_session_path, class: "btn" %>
    </div>

    <div class="space"></div>
    
  </div>

  <h1 class="lp_h1 faderight">悩みの解消をするための工夫</h1>
  <div class="space"></div>
  <div class="lp_content">
    <h2 class="lp_h2 faderight">トレードノートの一般公開</h2>
    <p class="cation faderight">※ 資産推移、獲得金額グラフは公開されません</p>
    <ul>
      <li class="fadeleft">ポジポジ病が減る</li>
      <li class="fadeleft">取引ルールが明確になる</li>
      <li class="fadeleft">取引ルールを守れるようになる</li>
      <li class="fadeleft">自身の取引に対する理解が深まる</li>
      <li class="fadeleft">取引ルールのブラッシュアップ</li>
      <li class="fadeleft">取引記録に対するフィードバック</li>
      <li class="fadeleft">他トレーダーの記録で勉強できる</li>
    </ul>
    <p class="cation faderight">※ 解決を保証するものではありません</p>

    <div class="space"></div>
    <h2 class="lp_h2 faderight">記事の投稿もできる</h2>
    <p class="fadeleft">
      投資に関する内容の記事を投稿することができます。またその記事内にアフィリエイトリンクを貼り付けて記事の収益化ができます。
    </p>
    <p class="cation faderight">※ ルールが設けられています<%= link_to "(詳しくはこちら)", "https://trade-note.jp/posts/2" %></p>
    <ul>
      <li class="fadeleft">簡単に記事が書ける</li>
      <li class="fadeleft">投資関連のアフィリエイトリンクの貼り付けができる</li>
      <li class="fadeleft">記事を書くことで考え方を整理することができる</li>
    </ul>
  </div>

  <h1 class="lp_h1 faderight">トレードノートで取引に変革を</h1>
  <div class="space"></div>
  <div class="lp_content">
    <p class="lp_catch fadeleft">自分のトレードノートが世界最高の取引教材となるその時まで</p>
    <div class="space"></div>
    <div class="space"></div>
    <p class="highlight fadeleft">
      9割が損を出し続ける市場で利を出すために聖杯探し、意味のない高額商材の購入と様々な努力をしてきたかと思います。<br/>
      しかし、結局答えは自分自身の中にあります。<br/>
      その答えを導き出すものこそがトレードノートであると考えます。
    </p>
  </div>

  <div class="space"></div>
  <div class="lp_content">
    <div class="btns fadeleft">
      <%= link_to "新規登録", new_user_registration_path, class: "btn" %>
      <%= link_to "ログイン", new_user_session_path, class: "btn" %>
    </div>
  </div>

</div>