<div class="content">

  <h1>Trade Note</h1>
  <%= image_tag "top.jpg", class: "top_img" %>
  <div class="space"></div>
  <p class="catch">自分のトレードノートが世界最高の取引教材となるその時まで</p>
  <div class="space"></div>

  <h2>みんなのトレードノートを見る</h2>
  <div class="grid">
    <% @records.each do |record| %>
      <%= render partial: "shared/index_record", locals: { record: record } %>
    <% end %>
  </div>
  <%= link_to "もっと見る", records_path, class: "link_word" %>
  <div class="space"></div>
  <div class="btns">
    <% unless user_signed_in? %>
      <%= link_to "新規登録してトレードノートを作る", new_user_registration_path, class: "btn" %>
      <%= link_to "ログインしてトレードノートを作る", new_user_session_path, class: "btn" %>
    <% end %>
  </div>

  <div class="space"></div>

  <h2>最新記事を見る</h2>
  <div class="post_grid">
    <% @posts.each do |post| %>
      <%= render partial: "shared/index_post", locals: { post: post } %>
    <% end %>
  </div>
  <div class="space"></div>
  <%= link_to "もっと見る", posts_path, class: "link_word" %>
  <div class="space"></div>
  <div class="btns">
    <% unless user_signed_in? %>
      <%= link_to "新規登録してトレードノートを作る", new_user_registration_path, class: "btn" %>
      <%= link_to "ログインしてトレードノートを作る", new_user_session_path, class: "btn" %>
    <% end %>
  </div>

  <div class="space"></div>

</div>


