<div class="content">
  <div class="container">
    <h1>登録情報の変更</h1>
    
    <%= form_with model: current_user, local: true do |f|%>
      <%= render "devise/shared/error_messages", resource: resource %>
    
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      
      <div class="field">
        <%= f.label :name %> <br />
        <%= f.text_field :name, autofocus: true %>
      </div>
    
      <div class="actions">
        <%= f.submit "Update", data: { confirm: "メールをご確認のうえ認証手続きをして下さい。また迷惑メールに振り分けられている可能性もありますので合わせてご確認ください。" } %>
      </div>
    <% end %>
  </div>
</div>