<% set_meta_tags title: "フォロー中" %>

<div class="space"></div>
<div class="content">
  <h1>フォロー</h1>
  <%= render partial: "shared/ad_xm" %>
  <% if @users.exists? %>
    <ul>
      <% @users.each do |user| %>
        <div class="follow_members">
          <li>
            <p><%= link_to user.nickname, user_path(user), class: 'link_word' %></p>
            <p class="relationship_info">フォロー数: <%= user.followings.count %>　/　フォロワー数: <%= user.followers.count %>　/　TradeNote数: <%= user.records.count %>　/　投稿記事数: <%= user.posts.count %></p>
          </li>
        </div>
      <% end %>
    </ul>
  <% else %>
    <p>ユーザーはいません</p>
  <% end %>
</div>
<div class="space"></div>