<div class="space"></div>
<div class="content">
  <div class="container">
    <h1>登録情報の変更</h1>
    
    <%= form_with model: current_user, local: true do |f|%>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      
      <div class="field">
        <%= f.label :nickname %> <br />
        <%= f.text_field :nickname, autofocus: true %>
      </div>
    
      <div class="actions">
        <%= f.submit "Update", data: { confirm: "メールアドレスを変更した場合はメールをご確認のうえ認証手続きを進めてください" }%>
      </div>
    <% end %>
    <h2>パスワードの変更に関して</h2>
    <p><b>以下の手順で進めてください</b></p>
    <ul class="number">
      <li>ログアウト</li>
      <li>ログインページを表示</li>
      <li>パスワードの再設定を選択</li>
    </ul>
  </div>
</div>
<div class="space"></div>