<% breadcrumb :user_records %>

<div class="content">
  <h1><%= @user.nickname %>さんの取引履歴</h1>
  <table>
    <% @records.each do |record| %>
    <tr>
      <th class="date"><%= record.date %></th>
      <td class="records_content"><%= record.pair.name %></td>
      <td class="records_content"><%= record.result_section.name %></td>
    </tr>
    <% end %>
  </table>
  <%= paginate @records %>
</div>

<div class="space"></div>

