<div class="content">
  <h1><%= @user.nickname %>さんのページ</h1>
  <h2><%= @user.nickname %>さんの取引分析</h2>
  <h3>資金推移</h3>
  
  <h3>全体勝率</h3>
  
  <h3>通貨ペア別勝率/PF</h3>
  
  <h2><%= @user.nickname %>さんの取引履歴</h2>
  <%= link_to 'もっと見る', "/", class: "link_word" %>
  
  <div class="container">
    <h2><%= @user.nickname %>さんの専用エリア</h2>
    <%= link_to '編集', users_edit_path(current_user.nickname), class: 'btn' %>
  </div>

  <div class="space"></div>

</div>