<div class="space"></div>
<div class="content">
  <h1><%= @user.nickname %>さんのページ</h1>
  <%= render partial: "relationships/relationship_btn", locals: { user: @user } %>
  <div class="btns">
    <%= link_to "フォロー : #{@user.followings.count}", "/users/#{ @user.nickname }/followings", class: "btn" %>
    <%= link_to "フォロワー : #{@user.followers.count}", "/users/#{ @user.nickname }/followers", class: "btn" %>
  </div>
  <h2><%= @user.nickname %>さんの取引分析</h2>

  <% if @users_records.count > 0 %>

    <% if user_signed_in? && current_user.nickname == @user.nickname %>
      <h3>資金推移</h3>
      <h4>取引期間全体</h4>
      <%= line_chart @sum_price, xtitle: "date", ytitle: "price"   %>
      <div class="space"></div>
      <%= column_chart @users_records_order_date.group(:date).sum(:price_renge), xtitle: "date", ytitle: "price" %>
      <h4>今月</h4>
      <%= line_chart @sum_price_month, xtitle: "date", ytitle: "price" %>
      <div class="space"></div>
      <%= column_chart @users_records_month_order_date.group(:date).sum(:price_renge), xtitle: "date", ytitle: "price" %>
    <% end %>

    <h3>勝率/PF</h3>
    <div class="pair_rate">
      <div class="pair_graph">
        <h4>全体</h4>
        <%= pie_chart @rate %>
        <div>
          <% if @profit == 0 || @loss == 0 %>
            <p class="data_info">PF : 未判定</p>
          <% else %>
            <p class="data_info">PF : <%= @pf.floor(2) %></p>
          <% end %>
        </div>
      </div>
      <% if @users_records_month.count > 0 %>
        <div class="pair_graph">
          <h4>今月</h4>
          <%= pie_chart @rate_month %>
          <div>
            <% if @profit_month == 0 || @loss_month == 0 %>
              <p class="data_info">PF : 未判定</p>
            <% else %>
              <p class="data_info">PF : <%= @pf_month.floor(2) %></p>
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="pair_graph">
          <h4>今月</h4>
          <p>今月のトレードノートはありません</p>
        </div>
      <% end %>
    </div>
    
    <h3>通貨ペア別勝率/PF</h3>
    <h4>全体</h4>
    <div class="pair_rate">
      <% @users_records_pairs.each do |pair| %>
        <%# 計算事項 %>
            <%# ペアの名前 %>
            <% pair_name = Pair.find(pair).name%>
            <%# 勝率計算 %>
            <% win_count_pair = @users_records.where(pair_id: pair).where('price_renge > ?', 0).count %>
            <% lose_count_pair = @users_records.where(pair_id: pair).where('price_renge < ?', 0).count %>
            <% rate_pair = {"lose": lose_count_pair, "win": win_count_pair} %>
            <%# PF計算 %>
            <% profit_pair = @users_records.where(pair_id: pair).where('price_renge > ?', 0).pluck(:price_renge).sum %>
            <% loss_pair = @users_records.where(pair_id: pair).where('price_renge < ?', 0).pluck(:price_renge).sum %>
            <% pf_pair = profit_pair / (loss_pair * -1) %>
        <%# ここまで %>
        <div>
          <p class="data_info"><%= pair_name %></p>
          <div class="pair_graph">
            <%= pie_chart rate_pair %>
            <div>
              <% if profit_pair == 0 || loss_pair == 0 %>
                <p class="data_info">PF : 未判定</p>
              <% else %>
                <p class="data_info">PF : <%= pf_pair.floor(2) %></p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="space"></div>

    <% if @users_records_month.count > 0 %>
    <h4>今月</h4>
    <div class="pair_rate">
      <% @users_records_pairs_month.each do |pair| %>
        <%# 計算事項 %>
            <%# ペアの名前 %>
            <% pair_name_month = Pair.find(pair).name%>
            <%# 勝率計算 %>
            <% win_count_pair_month = @users_records_month.where(pair_id: pair).where('price_renge > ?', 0).count %>
            <% lose_count_pair_month = @users_records_month.where(pair_id: pair).where('price_renge < ?', 0).count %>
            <% rate_pair_month = {"lose": lose_count_pair_month, "win": win_count_pair_month} %>
            <%# PF計算 %>
            <% profit_pair_month = @users_records_month.where(pair_id: pair).where('price_renge > ?', 0).pluck(:price_renge).sum %>
            <% loss_pair_month = @users_records_month.where(pair_id: pair).where('price_renge < ?', 0).pluck(:price_renge).sum %>
            <% pf_pair_month = profit_pair_month / (loss_pair_month * -1) %>
        <%# ここまで %>
        <div>
          <p class="data_info"><%= pair_name_month %></p>
          <div class="pair_graph">
            <%= pie_chart rate_pair_month %>
            <div>
              <% if profit_pair_month == 0 || loss_pair_month == 0 %>
                <p class="data_info">PF : 未判定</p>
              <% else %>
                <p class="data_info">PF : <%= pf_pair_month.floor(2) %></p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <% else %>
      <h4>今月</h4>
      <p>今月のトレードノートはありません</p>
    <% end %>

  <% else %>

    <p>トレードノートを作成してください<p>

  <% end %>

  <div class="space"></div>
  
  <h2><%= @user.nickname %>さんのトレードノート</h2>
  <div class="grid">
    <% @records.each do |record| %>
      <%= render partial: "shared/index_record", locals: { record: record } %>
    <% end %>
  </div>
  <p><%= link_to 'もっと見る', users_record_path, class: "link_word" %></p>
  
  <div class="space"></div>
  
  <% if user_signed_in? && current_user.nickname == @user.nickname %>
    <div class="container">
      <h2><%= @user.nickname %>さんの専用エリア</h2>
      <div class="btns">
        <div>
          <%= link_to 'ユーザー情報の編集', users_edit_path(current_user.nickname), class: 'btn' %>
        </div>
        <div>
          <%= link_to "取引履歴を一覧形式で見る", users_records_path, class: "btn" %>
        </div>
      </div>
    </div>

    <div class="space"></div>
  <% end %>

</div>