<div class="content">
  <h1><%= @user.nickname %>さんのページ</h1>
  <h2><%= @user.nickname %>さんの取引分析</h2>

  <h3>獲得金額</h3>
  <%= column_chart @users_records.group(:date).sum(:price_renge), xtitle: "date", ytitle: "price" %>

  <h3>資金推移</h3>
  <%= line_chart @sum_price, xtitle: "date", ytitle: "price" %>

  <h3>全体勝率</h3>
  <%= pie_chart @rate %>
  
  <h3>通貨ペア別勝率/PF</h3>
  <div class="pair_rate">
    <% @users_records_pairs.each do |pair| %>
      <%#　計算事項　%>
          <% pair_name = Pair.find(pair).name%>
          <% win_count_pair = @users_records.where(pair_id: pair).where('price_renge > ?', 0).count %>
          <% lose_count_pair = @users_records.where(pair_id: pair).where('price_renge < ?', 0).count %>
          <% rate_pair = {"lose": lose_count_pair, "win": win_count_pair} %>
      <%# ここまで %>
      <div>
      <p class="data_info"><%= pair_name %></p>
      <div class="pair_graph">
        <%= pie_chart rate_pair %>
      </div>
      </div>
    <% end %>
  </div>
  
  <h2><%= @user.nickname %>さんの取引履歴</h2>
  <%= render partial: "shared/index_record", locals: { records: @records } %>
  <%= link_to 'もっと見る', users_record_path, class: "link_word" %>
  
  <div class="container">
    <h2><%= @user.nickname %>さんの専用エリア</h2>
    <%= link_to '編集', users_edit_path(current_user.nickname), class: 'btn' %>
  </div>

  <div class="space"></div>

</div>