<div class="content">
  <h1><%= @user.nickname %>さんのページ</h1>
  <h2><%= @user.nickname %>さんの取引分析</h2>

  <h3>獲得金額</h3>
  <%= column_chart @users_records.group(:date).sum(:price_renge), xtitle: "date", ytitle: "price" %>

  <h3>資金推移</h3>
  <%= line_chart @sum_price, xtitle: "date", ytitle: "price" %>
  <%= line_chart @sum_price_month, xtitle: "date", ytitle: "price" %>

  <h3>全体勝率/PF</h3>
  <div class="pair_graph">
    <%= pie_chart @rate %>
    <div>
      <% if @profit == 0 || @loss == 0 %>
        <p class="data_info">PF : 未判定</p>
      <% else %>
        <p class="data_info">PF : <%= @pf %></p>
      <% end %>
    </div>
  </div>
  
  <h3>通貨ペア別勝率/PF</h3>
  <div class="pair_rate">
    <% @users_records_pairs.each do |pair| %>
      <%# 計算事項 %>
          <%# ペアの名前 %>
          <% pair_name = Pair.find(pair).name%>
          <%# 勝率計算 %>
          <% win_count_pair = @users_records.where(pair_id: pair).where('price_renge > ?', 0).count %>
          <% lose_count_pair = @users_records.where(pair_id: pair).where('price_renge < ?', 0).count %>
          <% rate_pair = {"lose": lose_count_pair, "win": win_count_pair} %>
          <%# PF計算 %>
          <% profit_pair = @users_records.where(pair_id: pair).where('price_renge > ?', 0).pluck(:price_renge).sum %>
          <% loss_pair = @users_records.where(pair_id: pair).where('price_renge < ?', 0).pluck(:price_renge).sum %>
          <% pf_pair = profit_pair / (loss_pair * -1) %>
      <%# ここまで %>
      <div>
        <p class="data_info"><%= pair_name %></p>
        <div class="pair_graph">
          <%= pie_chart rate_pair %>
          <div>
            <% if profit_pair == 0 || loss_pair == 0 %>
              <p class="data_info">PF : 未判定</p>
            <% else %>
              <p class="data_info">PF : <%= pf_pair %></p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="space"></div>
  
  <h2><%= @user.nickname %>さんのトレードノート</h2>
  <%= render partial: "shared/index_record", locals: { records: @records } %>
  <p><%= link_to 'もっと見る', users_record_path, class: "link_word" %></p>
  
  <div class="space"></div>
  
  <div class="container">
    <h2><%= @user.nickname %>さんの専用エリア</h2>
    <div class="btns">
      <div>
        <%= link_to 'ユーザー情報の編集', users_edit_path(current_user.nickname), class: 'btn' %>
      </div>
      <div>
        <%= link_to "取引履歴を一覧形式で見る", "/", class: "btn" %>
      </div>
    </div>
  </div>

  <div class="space"></div>

</div>