<div class="space"></div>
<div class="content">
  <h1>パスワードの再設定</h1>

  <div class="container">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="actions">
        <%= f.submit "パスワード再設定用のメールを送る", data: { confirm: "メールをご確認のうえパスワードの手続きをして下さい。また迷惑メールに振り分けられている可能性もありますので合わせてご確認ください。" } %>
      </div>
    <% end %>
  </div>

  <%= render "devise/shared/links" %>
</div>
<div class="space"></div>
