
    <div class="post">
      <div class="post_imgs">
        <% if post.category.id == 2 %>
          <%= image_tag "fx.jpg", class: "post_img" %>
        <% elsif post.category.id == 3 %>
          <%= image_tag "bit.jpg", class: "post_img" %>
        <% elsif post.category.id == 4 %>
          <%= image_tag "stock.jpg", class: "post_img" %>
        <% elsif post.category.id == 5 %>
          <%= image_tag "method.jpg", class: "post_img" %>
        <% elsif post.category.id == 6 %>
          <%= image_tag "note.jpg", class: "post_img" %>
        <% elsif post.category.id == 7 %>
          <%= image_tag "company.jpg", class: "post_img" %>
        <% elsif post.category.id == 8 %>
          <%= image_tag "other.jpg", class: "post_img" %>
        <% end %>
      </div>
      <div class="post_title">
        <%= link_to post.title, post, class: "link_word" %>
      </div>
      <div class="space"></div>
    </div>
  