<% set_meta_tags title: 'Trade-Noteの一覧', description: '「自分の取引記録が最強の取引教材になるその時まで」。みんなのfx取引記録の一覧が集結！通貨ペア、時間足、トレード種別（スキャルピング、デイトレ...）で検索して参考になる取引を見つけよう！' %>

<div class="space"></div>
<div class="content">
  <h1>全てのトレードノート</h1>
  <div class="container">
    <%= search_form_for @q, url: search_records_path do |f| %>
      <div class="search_date">
        <div>
          <%= f.date_field :created_at_gteq %>
        </div>
        <div>
          <p>　　〜　　</p>
        </div>
        <div>
          <%= f.date_field :created_at_lteq_end_of_day %>
        </div>
      </div>
      <%= f.collection_select :pair_id_eq,Pair.all,:id,:name,include_blank: '通貨ペアで検索' %>
      <%= f.collection_select :hour_id_eq,Hour.all,:id,:name,include_blank: '取引時間帯で検索' %>
      <%= f.collection_select :ashi_id_eq,Ashi.all,:id,:name,include_blank: '時間足で検索' %>
      <%= f.collection_select :indi_main_id_eq,IndiMain.all,:id,:name,include_blank: 'インジケーターで検索' %>
      <%= f.collection_select :line_main_id_eq,LineMain.all,:id,:name,include_blank: 'ラインで検索' %>
      <%= f.collection_select :kind_id_eq,Kind.all,:id,:name,include_blank: 'トレード種別で検索' %>
      <%= f.collection_select :result_section_id_eq,ResultSection.all,:id,:name,include_blank: '理由で検索' %>
      <%= f.submit '検索' %>
    <% end %>
  </div>
  <div class="grid">
    <% @records.each do |record| %>
      <%= render partial: "shared/index_record", locals: { record: record } %>
    <% end %>
  </div>
  <%= paginate @records %>
</div>
<div class="space"></div>