<% content_for(:body_attributes) do %>
<% end %>

<%= javascript_pack_tag 'posts' %>

<%= form_with(model: post) do |form| %>

  <div class='error_message'>
    <%= render 'shared/error_messages', model: form.object %>
  </div>
  <div class="field">
    <p class="explain">タイトル<b class="indispensable">(必須)</b></p>
    <%= form.text_field :title %>
  </div>

  <p class="explain">カテゴリーの選択をしてください<b class="indispensable">(必須)</b></p>
  <%= form.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"hour"})%>

  <div class="field">
    <p class="explain">コンテンツ内容<b class="indispensable">(必須)</b></p>
    <%= form.text_area :content, { id: "markdown-editar"} %>
  </div>

  <div class="actions">
    <%= form.submit "post" %>
  </div>
<% end %>
