<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag('logo.png') %>
    <title>トレードノート</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
  </head>

  <body>
  <header id="header">
      
    <div class="heading" id="heading_id">
      <%= image_tag 'logo.png', class: "title_logo" %>
      <%= link_to "Trade-Note", "/" %>
    </div>
    
    <div class="none">
      <%# if user_signed_in? %>
        <div class="current_user">
          <%#user :   <%= link_to current_user.name, "/users/#{current_user.id}", class: 'user_name' %>
        </div>
      <%# else %>
        <div class="current_user">
          
        </div>
      <%# end %>
    </div>

    <nav id="nav_bar">
      <div class="space"></div>
      <ul class="navi_list">  
        <li class="navi"><%= link_to 'Top', root_path  %></li>
        <li class="navi"><%= link_to '全てのトレードノート', records_path %></li>
        <li class="navi"><%= link_to '全ての記事', "/" %></li>
      </ul>
      <ul class="navi_log">
        <% if user_signed_in? %>
          <li class="navi"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          <li class="navi"><%= link_to 'マイページ', "/users/#{current_user.nickname}" %></li>
          <li class="navi"><%= link_to '新規TradeNoteの作成', new_record_path %></li>
          <li class="navi"><%= link_to '記事を書く', new_post_path %></li>
        <% else %>
          <li class="navi"><%= link_to 'ログイン', new_user_session_path %></li>
          <li class="navi"><%= link_to '新規登録', new_user_registration_path %></li>
        <% end %>
      </ul>
      
      <ul class="navi_pages">
        <% if user_signed_in? %>
          <li class="navi">
          <%= link_to "https://liff.line.me/1645278921-kWRPP32q?accountId=662tugjz#mst_challenge=xQINvbfNZG-ib2wvs4A5jFQfrDVKLss9ZWCHLhHlyvk" do %>
            お問い合わせ<i class="fab fa-line line-btn"></i>
          <% end %>
        </li>
        <% end %>
        <li class="navi">
        <%= link_to "https://twitter.com/FX_Traders_" do %>
          お知らせ<i class="fab fa-twitter-square twitter-btn"></i>
        <% end %>
        </li>
      </ul>
    </nav>

    <div class="toggle_btn">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <div id="mask"></div>
  </header>

    <%= yield %>

  <footer id="footer">
    <div class="space">
    </div>
    <div class="footer_links">
      <div class="footer_link">
        <%= link_to 'プライバシーポリシー', privacy_policy_path, class: "link_word" %>
      </div>
      <div class="footer_link">
        <%= link_to '免責事項', disclaimer_path, class: "link_word" %>
      </div>
    </div>
    <div class="risk_warning">
      <p class="footer_word">
      Trade-Noteについて：<br>
      Trade-Noteはfx、仮想通貨などの金融商品の取引記録・取引手法などを記録・公開して分析することで、自分自身の取引を見つめ直すことができることを目的としサービス提供を開始いたしました。また、第三者の取引記録・分析結果を参考にすることができるため、投資家判断の参考となる情報共有も目的としています。<br>
      今後も、ユーザー様のサポートのため新機能の追加などを行ってまいります。
      </P>
    </div>
    <div class="risk_warning">
      <p class="footer_word">
      リスクの警告：<br>
      FX取引には投資元金を失う非常に高いリスクが伴います。取引に利用されるレバレッジは有利にも不利にも作用する可能性があります。具体的には、オープンされたポジションと逆の値動きがある場合には取引の結果投資元本の全てを失う可能性があり、必ずしも全てのお客様に適した金融商品であると確約することはできません。したがって、投資は損失を許容できる範囲内にとどめることをお願いします。取引を始める前に、リスクについて、リスク警告を十分にご理解の上、ご自身の経験についてよく考慮してください。
      </P>
    </div>
    <div class="cantainer">
      <p class="copyright">Copyright Trade-Note allright reserved</p>
    </div>
    <div class="space">
    </div>
  </footer>

  </body>
</html>
